.my-tasks {
    margin-bottom: 20px;
    color: #fff;
  }
  
  .my-tasks h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .my-tasks p {
    margin-bottom: 10px;
  }
  
  .task-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  