.task-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  
}

.task-form input,
.task-form textarea,
.task-form button {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  width: 100%;
}

.task-form input,
.task-form textarea {
  background-color: #f5f5f5; /* Light background color */
  color: #333; /* Dark text color */
  border: 1px solid #ccc; /* Add border */
}

.task-form ::placeholder {
  font-family: 'Afacad', sans-serif; 
  font-size: 1.2em;
}

.task-form textarea {
  resize: vertical; /* Allow vertical resizing */
}

.task-form button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 100px;
  margin-top: 20px;
  background: linear-gradient(135deg, #b40dd1, #680dd1 );
  border: none;
  border-radius: 12px; /* Added border-radius for buttons */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.task-form button:hover {
  background-color: #0056b3;
}

 .date-picker-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
}

.date-picker-wrapper input[type="date"] {
  border: none;
  background-color: transparent;
  flex-grow: 1;
}

.date-picker-wrapper .calendar-icon {
  cursor: pointer;
}

