.task-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 20px;
  padding: 20px;
}
  
.task-card {
  border: 1px solid #ccc; /* Add border to the card */
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff; /* Ensure background is white */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  

  .task-card input,
.task-card textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-family: 'Afacad', sans-serif; /* Custom font */
}
  
  .task-card h3 {
    margin-top: 0;
    font-size: 1.5em; /* Change font size here */
  }
  
  .task-card p {
    margin: 5px 0;
    flex-grow: 1; /* Ensure the content grows to take available space */

  }

  .task-footer {
    display: flex;
    justify-content: space-between;
  }
  
  .task-status {
    display: flex;
    align-items: center;
    font-size: 1em;
    color: #666666;
  }
  
  .status-icon {
    margin-left: 5px;
    color: #f58d16;
  }
  
  .status-icon-checked {
    color: green;
  }
  
  .task-actions {
    display: flex;
    gap: 10px;
  }
  
  .task-action-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .task-action-button:hover {
    background-color: #0056b3;
  }
  