@import url('https://fonts.googleapis.com/css2?family=Afacad&family=Dancing+Script&family=Kaushan+Script&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gradient-text {
  background: linear-gradient(135deg, #b40dd1, #680dd1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}


body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Afacad', sans-serif; 
  overflow: scroll;
 
}

body {
 
  background: linear-gradient(135deg, #b40dd1, #680dd1 );
 
  
  
}


