
.task-page {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  min-height: 100vh; /* Ensure it takes full height */
  padding: 20px; /* Add some padding for better spacing */
  width: 100%;
  
 
}

.left-section {
  flex: 3;
  width: 80%;
  flex-direction: column;
  width: 80%;
}

.right-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}


.task-header {
  text-align: left;
  width: 100%;
  padding: 30px;
}

.task-header h1 {
  font-size: 2.5em;
}

.sort-menu {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.user-role {
  font-size: 1em;
  font-weight: bold;
  color: #ffffff;
  background-color: #680dd1;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
 
}

.role-selector ::selection {
  background-color: #680dd1;
}



.no-tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  color: #333;
  border: 2px solid white; /* White border */
  border-radius: 20px; /* Rounded corners */
  padding: 20px; /* Padding inside the border */
  background-color: rgba(255, 255, 255, 0.1); /* Slightly transparent background */
  position: relative; /* Ensure the button is positioned correctly */
}

.no-tasks img {
  max-width: 250px;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 80%; /* Make the image circular */
}

.no-tasks h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
}

.no-tasks p {
  font-size: 1em;
  color: #555;
  margin-bottom: 20px;
}

.add-task-button {
  background: #680dd1;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 1.5em;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-taskList-button {
  margin-top:20px;
  background:  rgb(105, 6, 219);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 1.5em;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-task-button:hover {
  background-color: #9f5edc;
}

.task-form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.task-columns {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between; 
}

.task-column {
  background-color: #3a3a3a;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  min-width: 250px; /* Ensure min width for columns */
}

.task-column h2 {
  margin-bottom: 10px;
  text-align: center;
  color: #fff;
}

.my-tasks {
  margin-bottom: 20px;
}

.my-tasks h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.my-tasks p {
  margin-bottom: 10px;
}

.task-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

@media (max-width: 768px) {
  .task-header h1 {
    font-size: 2em;
  }

  .task-form {
    flex-direction: column;
    align-items: center;
  }

  .task-columns {
    grid-template-columns: 1fr;
  }
}